export("runIFCshinyApp")
export("runIFCshinyAppOnce")
import(IFC)
import(shiny)
import(shinymanager)
import(shinyFeedback)
import(shinyWidgets)
import(htmlwidgets)
import(visNetwork)
import(grDevices)
import(grid)
import(gridExtra)
import(MASS)
import(e1071)
import(xgboost)
import(umap)
import(rmarkdown)
import(rgl)
import(parallel)
import(zip)
import(openxlsx)
import(reticulate)
importFrom(bestNormalize, yeojohnson)
importFrom(caret, createDataPartition, nzv)
importFrom(colourpicker, colourInput , updateColourInput)
importFrom(doParallel, registerDoParallel)
importFrom(imager, as.cimg, as.imlist, imappend, save.image)
importFrom(Rtsne, Rtsne)
importFrom(shinyjs, addClass, removeClass, click, delay, disabled, disable, enable, hidden, hideElement, showElement, html, logjs, reset, runjs, toggleElement, toggleState, useShinyjs)
importFrom(methods, formalArgs)
importFrom(plotly, plot_ly, add_markers, layout)
importFrom(umap, umap)
importFrom(jsonlite, toJSON)
importFrom(mclust, MclustDA, MclustDR)
