export("runIFCshinyApp")
export("runIFCshinyAppOnce")
import(IFC)
import(shiny)
import(shinymanager)
import(shinyFeedback)
import(shinyFiles)
import(shinyWidgets)
import(htmlwidgets)
import(visNetwork)
import(grDevices)
import(grid)
import(gridExtra)
import(rgl)
import(openxlsx)
import(reticulate)
importFrom(caret, createDataPartition, nzv)
importFrom(colourpicker, colourInput , updateColourInput)
importFrom(shinyjs, addClass, removeClass, click, delay, disabled, disable, enable, hidden, hideElement, showElement, html, logjs, reset, runjs, toggleElement, toggleState, useShinyjs)
importFrom(methods, formalArgs)
importFrom(plotly, plotlyOutput, plot_ly, add_markers, add_mesh, add_trace, style, layout)
importFrom(RColorBrewer, brewer.pal, brewer.pal.info)
importFrom(jsonlite, toJSON)
importFrom(zip, unzip, zip, zip_append)
